* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  top: 0;
}

:root {
  /* Variables */
  background-color: var(--gradient-cont);
  --gradient-cont: #111111;
  --color-bg2: rgb(0, 17, 82);
  --color1: 203, 80, 112;
  --color2: 186, 74, 102;
  --color3: 99, 106, 160;
  --color4: 59, 60, 86;
  --color5: 139, 98, 145;
  --color-interactive: 115, 103, 154;
  --circle-size: 100%;
  --blending: hard-light;

  --font-main: #f5eded;
  --grid: #1e1e20;

  --bloody-red: #d72323;
}

@media (max-width: 810px) {
  .BackButton {
    visibility: hidden;
  }
  .ProjectsContainer {
    margin: 1vh 5vw !important;
  }
  .HeroName {
    font-size: 20px !important;
  }
  .mainContainer {
    flex-direction: column !important;
  }

  .ProjectDesc {
    width: 100% !important;
    height: 40vh;
  }
  .carouselContainer {
    width: 100% !important;
    height: 30vh;
  }
  h1 {
    font-size: 1.75em;
    margin: 18px 0;
  }
  h2 {
    font-size: 1.5em;
    margin: 16px 0;
  }
  body {
    font-size: 14px;
  }
}
